/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include display-block-margins;
    @include img-margin-width; 
    max-height: 100%;
  }
  
  .img-frame {
    @include display-block-margins;
    @include img-margin-width;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include display-block-margins;
  }